<div class="container">
  <h1 style="margin-top: 5%;">Panel de estadísticas</h1>
  <hr>

  <!--<canvas mdbChart
      [chartType]="barType"
      [datasets]="chartDatasets"
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
  </canvas>

  <canvas mdbChart
      [chartType]="barType"
      [datasets]="barData"
      [labels]="barLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
  </canvas>-->

  <canvas id="barChart" width="800" height="450"></canvas>
</div>