<div class="container">

  <!-- Top data -->
  <div class="row">
    <div class="col-12">
      <div class="page_title_box d-flex align-items-center justify-content-between">
        <div class="page_title_left">
          <h3 class="f_s_30 f_w_700 text_white">Dashboard</h3>

          <ol class="breadcrumb page_bradcam mb-0">
            <li class="breadcrumb-item"><a href="/">Inicio </a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- Top data end -->

  <!-- Search bar -->
  <div class="container-fluid no-gutters">
    <div class="row">
      <div class="col-lg-12 p-0 ">
        <div class="header_iner d-flex justify-content-between align-items-center">
          <div class="sidebar_icon d-lg-none">
            <i class="ti-menu"></i>
          </div>
          <div class="serach_field-area d-flex align-items-center">
            <div class="search_inner">
              <form action="#">
                <div class="search_field">
                  <input type="text" placeholder="Buscar...">
                </div>
                <button type="submit"> <img src="../../assets/img/icon_search.svg" alt="Icono de búsqueda"> </button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Search bar end -->

  <br>

  <!-- Content -->
  <div class="row ">
    <div class="col-lg-8 card_height_100">

      <!-- Bar chart -->
      <div class="white_card mb_20">
        <div class="white_card_header">
          <div class="box_header m-0">
            <div class="main-title">
              <h3 class="m-0">Número de egresados</h3>
            </div>
            <!--<div class="float-lg-right float-none sales_renew_btns justify-content-end">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" href="#">This Week</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Last Week</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Last Month</a>
                </li>
              </ul>
            </div>-->
          </div>
        </div>

        <div class="white_card_body" style="height: 286px;">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <canvas id="barChart" width="653" height="251" style="display: block; width: 653px; height: 251px;"
            class="chartjs-render-monitor"></canvas>
        </div>
      </div>
      <!-- Bar chart end -->

      <!-- Download button -->
      <div class="white_card mb_20">
        <div class="white_card_body renew_report_card d-flex align-items-center justify-content-between flex-wrap">
          <div class="renew_report_left">
            <h4 class="f_s_19 f_w_600 color_theme2 mb-0">Descarga los datos</h4>
            <p class="color_gray2 f_s_12 f_w_600">Descarga los datos en formato excel</p>
          </div>
          <div class="create_report_btn">
            <a href="#" class="btn_1 mt-1 mb-1">Descargar</a>
          </div>
        </div>
      </div>
      <!-- Download button end -->
    </div>

    <div class="col-lg-4 card_height_100 mb_20">
      <div class="white_card">
        <!-- Pie chart -->
        <div class="white_card_header">
          <div class="box_header m-0">
            <div class="main-title">
              <h3 class="m-0">Total de egresados</h3>
            </div>
            <div class="header_more_tool">
              <div class="dropdown">
                <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
                  <i class="ti-more-alt"></i>
                </span>
                <!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#"> <i class="ti-eye"></i> Action</a>
                  <a class="dropdown-item" href="#"> <i class="ti-trash"></i> Delete</a>
                  <a class="dropdown-item" href="#"> <i class="fas fa-edit"></i> Edit</a>
                  <a class="dropdown-item" href="#"> <i class="ti-printer"></i> Print</a>
                  <a class="dropdown-item" href="#"> <i class="fa fa-download"></i> Download</a>
                </div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="white_card_body p-0">
          <div class="card_container">
            <div id="platform_type_dates_donut"
              style="height: 280px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative;"
              _echarts_instance_="ec_1620234131108">
              <div
                style="position: relative; overflow: hidden; width: 471px; height: 280px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
              </div>

              <canvas id="pieChart" data-zr-dom-id="zr_0" width="500" height="300"
                style="position: absolute; left: 0px; top: 0px; width: 471px; height: 280px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>

            </div>

          </div>
        </div>
      </div>
      <!-- Pie chart end -->

      <div class="sales_unit_footer d-flex justify-content-between">
        <div class="single_sales">
          <h3>Diversidad</h3>
          <p class="d-flex align-items-center"> <i class="ti-arrow-up"></i> <span> 66.6%</span> de los egresados son
            mujeres </p>
        </div>
      </div>
    </div>

    <!-- Support boxes -->
    <div class="col-lg-4">
      <div class="white_card card_height_100  mb_20">
        <div class="white_card_header">
          <div class="box_header m-0">
            <div class="main-title">
              <h3 class="m-0">Número de alumnos</h3>
            </div>
            <div class="header_more_tool">
              <div class="dropdown">
                <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
                  <i class="ti-more-alt"></i>
                </span>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#"> <i class="ti-eye"></i> Action</a>
                  <a class="dropdown-item" href="#"> <i class="ti-trash"></i> Delete</a>
                  <a class="dropdown-item" href="#"> <i class="fas fa-edit"></i> Edit</a>
                  <a class="dropdown-item" href="#"> <i class="ti-printer"></i> Print</a>
                  <a class="dropdown-item" href="#"> <i class="fa fa-download"></i> Download</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="white_card_body">
          <div class="table-responsive">
            <table class="table bayer_table m-0">
              <tbody>
                <tr>
                  <td>
                    <img class="byder_thumb wh_56" src="../../assets/img/1.png" alt="">
                  </td>
                  <td>
                    <div class="payment_gatway">
                      <h5 class="byer_name  f_s_16 f_w_700 color_theme">G037</h5>
                      <p class="color_gray f_s_12 f_w_700 ">10 Jun 03:00PM</p>
                    </div>
                  </td>
                  <td>
                    <div class="payment_gatway text-right">
                      <h5 class="byer_name  f_s_16 f_w_700 text_color_4">- 20</h5>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="byder_thumb wh_56" src="../../assets/img/1.png" alt="">
                  </td>
                  <td>
                    <div class="payment_gatway">
                      <h5 class="byer_name  f_s_16 f_w_700 color_theme">G009</h5>
                      <p class="color_gray f_s_12 f_w_700 ">10 Jun 03:00PM</p>
                    </div>
                  </td>
                  <td>
                    <div class="payment_gatway text-right">
                      <h5 class="byer_name  f_s_16 f_w_700 text_color_5">+ 10</h5>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="byder_thumb wh_56" src="../../assets/img/1.png" alt="">
                  </td>
                  <td>
                    <div class="payment_gatway">
                      <h5 class="byer_name  f_s_16 f_w_700 color_theme">G005</h5>
                      <p class="color_gray f_s_12 f_w_700 ">10 Jun 03:00PM</p>
                    </div>
                  </td>
                  <td>
                    <div class="payment_gatway text-right">
                      <h5 class="byer_name  f_s_16 f_w_700 text_color_5">+ 5</h5>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="byder_thumb wh_56" src="../../assets/img/1.png" alt="">
                  </td>
                  <td>
                    <div class="payment_gatway">
                      <h5 class="byer_name  f_s_16 f_w_700 color_theme">G055</h5>
                      <p class="color_gray f_s_12 f_w_700 ">10 Jun 03:00PM</p>
                    </div>
                  </td>
                  <td>
                    <div class="payment_gatway text-right">
                      <h5 class="byer_name  f_s_16 f_w_700 text_color_5">+ 12</h5>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="white_card card_height_100  mb_20">
        <div class="white_card_header">
          <div class="box_header m-0">
            <div class="main-title">
              <h3 class="m-0">Número de alumnos</h3>
            </div>
            <div class="header_more_tool">
              <div class="dropdown">
                <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
                  <i class="ti-more-alt"></i>
                </span>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#"> <i class="ti-eye"></i> Action</a>
                  <a class="dropdown-item" href="#"> <i class="ti-trash"></i> Delete</a>
                  <a class="dropdown-item" href="#"> <i class="fas fa-edit"></i> Edit</a>
                  <a class="dropdown-item" href="#"> <i class="ti-printer"></i> Print</a>
                  <a class="dropdown-item" href="#"> <i class="fa fa-download"></i> Download</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="white_card_body">
          <div class="table-responsive">
            <table class="table bayer_table m-0">
              <tbody>
                <tr>
                  <td>
                    <img class="byder_thumb wh_56" src="../../assets/img/1.png" alt="">
                  </td>
                  <td>
                    <div class="payment_gatway">
                      <h5 class="byer_name  f_s_16 f_w_700 color_theme">G037</h5>
                      <p class="color_gray f_s_12 f_w_700 ">10 Jun 03:00PM</p>
                    </div>
                  </td>
                  <td>
                    <div class="payment_gatway text-right">
                      <h5 class="byer_name  f_s_16 f_w_700 text_color_4">- 20</h5>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="byder_thumb wh_56" src="../../assets/img/1.png" alt="">
                  </td>
                  <td>
                    <div class="payment_gatway">
                      <h5 class="byer_name  f_s_16 f_w_700 color_theme">G009</h5>
                      <p class="color_gray f_s_12 f_w_700 ">10 Jun 03:00PM</p>
                    </div>
                  </td>
                  <td>
                    <div class="payment_gatway text-right">
                      <h5 class="byer_name  f_s_16 f_w_700 text_color_5">+ 10</h5>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="byder_thumb wh_56" src="../../assets/img/1.png" alt="">
                  </td>
                  <td>
                    <div class="payment_gatway">
                      <h5 class="byer_name  f_s_16 f_w_700 color_theme">G005</h5>
                      <p class="color_gray f_s_12 f_w_700 ">10 Jun 03:00PM</p>
                    </div>
                  </td>
                  <td>
                    <div class="payment_gatway text-right">
                      <h5 class="byer_name  f_s_16 f_w_700 text_color_5">+ 5</h5>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="byder_thumb wh_56" src="../../assets/img/1.png" alt="">
                  </td>
                  <td>
                    <div class="payment_gatway">
                      <h5 class="byer_name  f_s_16 f_w_700 color_theme">G055</h5>
                      <p class="color_gray f_s_12 f_w_700 ">10 Jun 03:00PM</p>
                    </div>
                  </td>
                  <td>
                    <div class="payment_gatway text-right">
                      <h5 class="byer_name  f_s_16 f_w_700 text_color_5">+ 12</h5>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="white_card card_height_100  mb_20">
        <div class="white_card_header">
          <div class="box_header m-0">
            <div class="main-title">
              <h3 class="m-0">Número de alumnos</h3>
            </div>
            <div class="header_more_tool">
              <div class="dropdown">
                <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
                  <i class="ti-more-alt"></i>
                </span>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#"> <i class="ti-eye"></i> Action</a>
                  <a class="dropdown-item" href="#"> <i class="ti-trash"></i> Delete</a>
                  <a class="dropdown-item" href="#"> <i class="fas fa-edit"></i> Edit</a>
                  <a class="dropdown-item" href="#"> <i class="ti-printer"></i> Print</a>
                  <a class="dropdown-item" href="#"> <i class="fa fa-download"></i> Download</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="white_card_body">
          <div class="table-responsive">
            <table class="table bayer_table m-0">
              <tbody>
                <tr>
                  <td>
                    <img class="byder_thumb wh_56" src="../../assets/img/1.png" alt="">
                  </td>
                  <td>
                    <div class="payment_gatway">
                      <h5 class="byer_name  f_s_16 f_w_700 color_theme">G037</h5>
                      <p class="color_gray f_s_12 f_w_700 ">10 Jun 03:00PM</p>
                    </div>
                  </td>
                  <td>
                    <div class="payment_gatway text-right">
                      <h5 class="byer_name  f_s_16 f_w_700 text_color_4">- 20</h5>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="byder_thumb wh_56" src="../../assets/img/1.png" alt="">
                  </td>
                  <td>
                    <div class="payment_gatway">
                      <h5 class="byer_name  f_s_16 f_w_700 color_theme">G009</h5>
                      <p class="color_gray f_s_12 f_w_700 ">10 Jun 03:00PM</p>
                    </div>
                  </td>
                  <td>
                    <div class="payment_gatway text-right">
                      <h5 class="byer_name  f_s_16 f_w_700 text_color_5">+ 10</h5>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="byder_thumb wh_56" src="../../assets/img/1.png" alt="">
                  </td>
                  <td>
                    <div class="payment_gatway">
                      <h5 class="byer_name  f_s_16 f_w_700 color_theme">G005</h5>
                      <p class="color_gray f_s_12 f_w_700 ">10 Jun 03:00PM</p>
                    </div>
                  </td>
                  <td>
                    <div class="payment_gatway text-right">
                      <h5 class="byer_name  f_s_16 f_w_700 text_color_5">+ 5</h5>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="byder_thumb wh_56" src="../../assets/img/1.png" alt="">
                  </td>
                  <td>
                    <div class="payment_gatway">
                      <h5 class="byer_name  f_s_16 f_w_700 color_theme">G055</h5>
                      <p class="color_gray f_s_12 f_w_700 ">10 Jun 03:00PM</p>
                    </div>
                  </td>
                  <td>
                    <div class="payment_gatway text-right">
                      <h5 class="byer_name  f_s_16 f_w_700 text_color_5">+ 12</h5>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content end -->
</div>