a{
    color: #FFF;
}

a:hover{
    color: #F0F0F0;
}

span{
    color: #FFF;
}

body{
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #F0F0F0;
}

div {
    display: block;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}